html, body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

canvas {
    display: block;
}

a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 20px;
}

a:hover {
    color: #fff;
}

a.back,
a.source {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 3px 6px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 12px;
}

a.back:hover,
a.source:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

a.back {
    top: 20px;
    left: 20px;
}

a.source {
    bottom: 20px;
    right: 20px;
}

a.thumb {
    position: relative;
    display: inline-block;
    border: 1px solid #333;
    margin: 10px;
}
a.thumb img {
    width: 200px;
    height: 150px;
    opacity: 1;
    transition: all 0.15s ease-in-out;
}
a.thumb p {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
    text-align: center;
    transition: all 0.15s ease-in-out;
}

a.thumb:hover img {
    opacity: 0.25;
}

a.thumb:hover p {
    top: 50%;
    opacity: 1;
}
